{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="text-h1">
        <h1>
        About OMNIS
        </h1>
    </div>
    <div class="text-container">
        <p>
            OMNIS is a personal intelligence hub, designed to store and manage knowledge efficiently. Built as an extension of my work, it holds programming projects, presentations, and curated information—both for myself and those I choose to add.

            More than just a repository, OMNIS is a structured system for tracking ideas, analyzing progress, and keeping essential data within reach. Whether it’s code, research, or key insights, everything is connected here.
            <ul>
                <li>🔹 Programming Projects – A collection of past and ongoing developments.</li>
                <li>🔹 Presentations & Research – Structured knowledge, ready to access.</li>
                <li>🔹 Profiles & Records – Data on individuals I choose to include.</li>
            </ul>
            OMNIS is my personal archive—a system built for precision, organization, and control.
            <h2>Creator: Omkar Amol Shetye</h2>
            <h3>College: VDF (B.Tech - Computer Engineering)</h3>
        </p>
    </div>
{% endblock %}
