{% extends "layout.html" %}

{% block title %}
    Archives
{% endblock %}

{% block main %}
<div class="blur-background">
    <div class="head-report">
        <h1>Projects</h1>
        <form action="/add-archive" class="add-report">
            <button type="submit"><i class="fa-solid fa-plus"></i>ADD</button>
        </form>
    </div>
    <div class="body-report">
        {% for archive in archives %}
            <br>
            <div class="report-block">
                <h2>{{ loop.index }}.</h2>  <!-- Auto-incrementing number -->
                <h2>{{ archive.title }}</h2>
                <p>{{ archive.desc }}</p>
                <a href="{{ archive.link }}" download>
                    <button>Download</button>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}