<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OMNIS : Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="bg">
    <div class="login-box">
        <div>
            <h1>OMNIS</h1>
            <h2>Login</h2>
        </div>
        <div>
            <form action="">
                <div>
                    <input class="input-field" id="username" name="username" placeholder="Username" type="text">
                </div>
                <div>
                    <input class="input-field" id="password" name="password" placeholder="Password" type="password">
                </div>
                <div>
                    <button type="submit">Log In</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>